__pycache__
venv

business-class.jpg
business-class2.avif
business-class3.avif
business-class4.webp
business-class5-1jpg.jpg
business-class5-1.avif
business-class5.avif
plan.png
glasgow.avif
manchester.webp
mobileapp1.jpg
summer-vacation.avif
hero-vid1.mp4
hero-vid2-1.mp4
hero-vid2-2.mov
hero-vid2.mp4
hero-vid3.mp4
settings.json
node_modules
test.html
test.py

